services:
    db:
        image: mysql:latest
        container_name: mysql_db
        environment:
            MYSQL_ROOT_PASSWORD: tutorfinder123
            MYSQL_DATABASE: tutorfinder
            MYSQL_USER: tutorfinder
            MYSQL_PASSWORD: tutorfinder123
        ports:
            - "3306:3306"
        volumes:
            - mysql_data:/var/lib/mysql
        restart: always

    minio:
        image: minio/minio:RELEASE.2024-12-18T13-15-44Z
        container_name: minio_server
        hostname: minio

        ports:
            - "9000:9000"
            - "9001:9001"

        environment:
            MINIO_ROOT_USER: ${MINIO_ROOT_USER}
            MINIO_ROOT_PASSWORD: ${MINIO_ROOT_PASSWORD}

        volumes:
            - ./minio-data:/data

        command: server /data --console-address ":9001"

        healthcheck:
            test:
                ["CMD", "curl", "-f", "http://localhost:9000/minio/health/live"]
            interval: 30s
            timeout: 20s
            retries: 3

volumes:
    mysql_data:
